<div class="card">
    <div class="card-body">
        <h1 class="card-title" style="font-weight: bold; font-size: 20px;">Clientes</h1>
        <button class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#nuevoCliente" (click)="nuevoCliente()">Agregar Cliente</button>
        <br>
        <hr>
        <table class="table table-hover table-bordered table-striped" id="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>DPI</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>NIT</th>
                    <th>Estado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listCliente">
                    <td>{{item.nombre}}</td>
                    <td>{{item.dpi}}</td>
                    <td>{{item.telefono}}</td>
                    <td>{{item.direccion}}</td>
                    <td>{{item.nit}}</td>
                    <td *ngIf="item.estado === true">Activo</td>
                    <td><button class="btn btn-primary btn-sm btnEditar" (click)="selectCliente(item)" data-bs-toggle="modal" data-bs-target="#editarModal">Editar</button></td>
                    <td><button class="btn btn-danger btn-sm btnEliminar" (click)="selectDeleteCliente(item)" data-bs-toggle="modal" data-bs-target="#eliminarModal" >Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="nuevoCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formCliente">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre"  autocomplete="usuario" formControlName="nombre">
                    </div>
                    <div class="form-group">
                        <label for="dpi">DPI</label>
                        <input type="text" class="form-control" name="dpi" id="dpi" required autocomplete="dpi" formControlName="dpi">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" class="form-control" name="telefono" id="telefono" required formControlName="telefono">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Direccion</label>
                        <input type="text" class="form-control" name="direccion" id="direccion" required formControlName="direccion">
                    </div>
                    <div class="form-group">
                        <label for="nit">NIT</label>
                        <input type="text" class="form-control" name="nit" id="nit" required formControlName="nit">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select class="form-select" name="estado" id="estado" required formControlName="estado">
                            <option value="3">Seleccione un estado</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" (click)="guardarCliente()" data-bs-dismiss="modal">Registrarse</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Cliente</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formCliente">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre"  autocomplete="usuario" formControlName="nombre">
                    </div>
                    <div class="form-group">
                        <label for="dpi">DPI</label>
                        <input type="text" class="form-control" name="dpi" id="dpi" required autocomplete="dpi" formControlName="dpi">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" class="form-control" name="telefono" id="telefono" required formControlName="telefono">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Direccion</label>
                        <input type="text" class="form-control" name="direccion" id="direccion" required formControlName="direccion">
                    </div>
                    <div class="form-group">
                        <label for="nit">NIT</label>
                        <input type="text" class="form-control" name="nit" id="nit" required formControlName="nit">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select class="form-select" name="estado" id="estado" required formControlName="estado">
                            <option value="3">Seleccione un estado</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btnGuardarEditar" (click)="actualizarCliente()" data-bs-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Eliminar Cliente</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formCliente">
                    <div class="" style="display: inline-block;">
                        <label id="lbEditar">¿Esta seguro que desea eliminar al cliente:</label>
                        <input type="text" id="hdnEliminar" name="hdnEliminar" style="border: none; pointer-events: none; vertical-align: middle;" formControlName="nombre"/>
                        <input type="hidden" id="idEli" name="hdnId" formControlName="id_cliente"/>
                    </div>
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" (click)="eliminarCliente()" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
