<body>
  <div class="wrapper">
    <div class="box">
      <form (submit)="onSubmit()">
        <h2>Iniciar Sesión</h2><br>
        <div class="inputBox">
          <input type="text" id="username" name="usuario" required [(ngModel)]="nombreUsuario">
          <div class="icon"><i class="fas fa-user"></i></div>
          <label for="usuario" class="form-label">Nombre de Usuario</label> <!-- Aplicar la clase de Bootstrap -->
          <i></i>
        </div><br>
        <div class="inputBox">
          <input type="password" id="password" name="clave" required [(ngModel)]="claveUsuario">
          <div class="icon"><i class="fas fa-key"></i></div>
          <label for="clave" class="form-label">Contraseña</label> <!-- Aplicar la clase de Bootstrap -->
          <i></i>
        </div>
        <br><br>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
</body>
